.btn-option
{
    display:none;
}

.commentcontent:hover .btn-option
{
	display:block;
	transition-duration: 5s;  
}

.center 
{
	margin: auto;
	width: 60%;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
	display: none;
}

.divider{
	width:10px;
	height:auto;
	display:inline-block;
}