<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<bean class="interceptors.GlobalInterceptor" />
		
		<mvc:interceptor>
			<mvc:mapping path="/index.htm"/>
			<mvc:mapping path="/article/**"/>
			<mvc:mapping path="/category/**"/>
			<mvc:mapping path="/author/**"/>
			<mvc:mapping path="/page/**"/>
			<mvc:mapping path="/search.htm"/>
			<mvc:mapping path="/not-found.htm"/>
			<bean class="interceptors.ClientInterceptor" />
		</mvc:interceptor>
		
	</mvc:interceptors>

</beans>