<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- Kết nối CSDL -->
	<bean id="dataSource" 
	    	class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
			p:url="jdbc:sqlserver://localhost:1433; Database=LTW_NEWS"
			p:username="sa"
			p:password="123456">
	</bean>
	
	
	<!-- Cấu hình Hibernate -->
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="hibernateProperties">
	      <props>        
	            <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>          
	            <prop key="hibernate.show_sql">false</prop>				
	       </props>
	    </property>
		<property name="packagesToScan" value="entities"/>
	</bean>
	
	<!-- Transaction Manager -->
    <bean id="transactionManager" 
    		class="org.springframework.orm.hibernate4.HibernateTransactionManager" 
       		p:sessionFactory-ref="sessionFactory" />
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>
